<h1>Edit User</h1>
<%= semantic_form_for @user do |f| %>
  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :admin %>
    <%= f.input :proyect_positions, :as => :check_boxes %>
  <% end %>
  <%= f.actions %>
<% end %>
