<div>
  <ul>
    <li><%= link_to "New", new_end_customer_path %></li>
  </ul>
</div>

<table border="0">
  <tr>
    <th>Initials</th>
    <th>Company Name</th>
    <th>Client</th>
    <th>Active</th>
    <th></th>
  </tr>
  <% @end_customers.each do |end_customer| %>
  <tr>
    <td><%= end_customer.initials %></td>
    <td><%= end_customer.company_name %></td>
    <td><%= end_customer.client.initials %></td>
    <td><%= end_customer.active ? "Yes" : "No" %></td>
    <td><%= link_to "edit", edit_end_customer_path(end_customer) %></td>
  </tr>
  <% end %>

</table>
